<!-- --------------------------------------------------------------------------
< 
< template.html
<
< user am date
<
<-------------------------------------------------------------------------- -->

<!DOCTYPE html>
<html lang="de">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="✓">
    
        <title>template</title>
        <link href="css/style.css" type="text/css" rel="stylesheet">
        <link href="img/example.ico" type="image/x-icon" rel="icon">
     </head>

    <body>
    
    </body>

</html>
